<div class="annoncebar">
  <marquee  behavior="alternate" class="marq_annonce">Angular Library Book Project</marquee>

</div>
<header class="header">
  <nav class="navbar">
    <ul class="ulNavBar">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/add-book">Add Book</a></li>
      <li><a routerLink="/books-in-library">Books in library</a></li>
      <li><a routerLink="/books-out-of-library">Books out of library</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
  </nav>
</header>
